bp-extra-small = 300px
bp-small = 400px
bp-medium = 800px
bp-large = 1280px

body, html
  font-family open_sanslight, 'Helvetica Neue', Helvetica, arial, sans-serif

  height 100%

body
  padding-bottom 5rem

a
  color link-color
  text-decoration none
  border-bottom 1px solid link-color

  &:hover
    border-bottom none
