bp-small = 641px
bp-medium = 800px
bp-large = 1280px

body, html
  font-family open_sanslight, 'Helvetica Neue', Helvetica, arial, sans-serif
  height 100%

a
  color link-color
  text-decoration none
  border-bottom 1px solid link-color

  &:hover
    border-bottom none

a, input[type=submit]
  transition background .5s

.together
  white-space nowrap
