@require '../spinner'

.stretched-hero
  background-color rgb(159, 212, 193)

  min-height 100%
  width 100%
  height 100%

  position relative
  overflow hidden

  &:before
    @extend .spinner
    content ''
    display block
    position absolute

    top 50%
    left 50%
    transform translateX(-50%)

  .central-teaser
    position absolute
    top 36%
    left 50%
    transform translate(-50%, -50%)
    width 90%
    color #fff
    z-index 1000
    text-align center

    h1
      text-align center
      font-family modern_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif
      font-size 4rem
      letter-spacing .3rem
      margin-bottom 1rem

    p.sub-title
      display inline
      margin-top 2rem
      font-family JaapokkiRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif
      font-size 2rem
      text-align center
      padded-text(text-highlight, 1rem)
      line-height 1.9
      padding-top .5rem

  img
    min-height 100%
    min-width 100%
    height auto
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

+up-to(bp-medium)
  .meta
    .meta-about-me
      display none

  .stretched-hero
    .central-teaser
      h1
        font-size 8vw

      p.sub-title
        font-size 4.5vw
        line-height 2
