.meta
  z-index 2002
  color #fff
  position absolute
  right 7%
  top 3.5rem
  font-family open_sansbold, 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-transform uppercase

  li
    display inline-block
    margin-left 1.5rem

  a
    color #fff
    text-decoration none
    padding .5rem 1rem
    border-bottom 0

    &:hover
      background-color #fff
      color #000

+up-to(bp-small)
  .meta
    .meta-about-me
      display none

    .meta-practice
      display none

+up-to(bp-medium)
  .meta
    .meta-about-me
      display none

.content .meta
  container()
  position static

  li
    margin-left 0

  li, a
    display block

  a
    color #000

    &:hover
      background-color link-highlight-color
      color #fff
