.socials
  overflow hidden
  margin-top 5rem

  li
    float left
    width 49%
    padding 0
    text-align center

    &:before
      content none

  .fb a:before
    content '\f236' !important

  .gplus a:before
    content '\f23b' !important
