.main-nav
  background-color #fff
  padding 1.5rem 0 1rem 0

  .title-brand
    font-family modern_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 2rem
    letter-spacing .3rem
    display inline-block

  .sub-title-brand
    font-weight bold
    width 70%

+up-to(bp-medium)
  .main-nav
    .title-brand
      font-size 5vw

@require './sub-header-meta'
