.sub-header .main-nav
  position relative

.sub-header .meta
    top auto
    right 0
    bottom 1.25rem

    li
      text-align right

    a
      &:link, &:active
      background-color transparent
      color #000

      &:hover, &:focus
        background-color link-highlight-color
        color #fff



.content .meta
  display none

+up-to(948px)
  .sub-header .meta li
    display none

  .content .meta
    display block

+up-to(bp-large)
  .sub-header .meta
    .meta-about-me
      display none
