@require '../markdown'

.area
  margin 6rem 0

  &:first-of-type
    margin-top 0

  @extend .markdown

  +up-to(bp-small)
    h2
      font-size 6vw
      margin-bottom .5em

    h3
      font-size 6vw

    li, p
      font-size 4vw
      line-height 1.6
