.contact
  container()
  overflow hidden
.address
  font-style normal
  font-size 1.5rem

  p
    margin-bottom .3rem
    line-height 1.5

  // h3
  //   font-family open_sansregular, 'Helvetica Neue', Helvetica, arial, sans-serif
  //   font-size 1.5rem
  //   margin-bottom .5rem
  //
  //   &:first-of-type
  //     padding-top 0

.form.disabled
  label, input:disabled, textarea:disabled
    color rgb(217, 217, 217)
    border-color rgb(217, 217, 217)
    cursor wait

  input[type=submit]:disabled
    color rgb(217, 217, 217)
    border-color rgb(217, 217, 217)
    background-color #fff
    cursor wait

.form
  label
    display block
    font-size 1.5rem
    margin-bottom .5rem

  input, textarea
    width 100%
    border 1px solid rgb(209, 209, 209)
    padding 1rem 1rem
    outline none
    margin-bottom 1rem

    &.error
      border-color link-highlight-color
      color link-highlight-color

    &[disabled=disabled]
      color rgb(213, 213, 213)

  textarea
    min-height 15rem

  input[type="submit"]
    width auto
    display inline-block
    min-width 30%
    cursor pointer

    &:link, &:active
      background-color #fff
      border 1px solid rgb(209, 209, 209)

    &:hover, &:focus
      background-color link-highlight-color
      border-color link-highlight-color
      color #fff


  .action
    text-align right

.form-message
  padding 1rem 1rem
  margin-bottom 1rem
  padding-left 4.5rem
  position relative

  &:before
    position absolute
    left 1rem
    top 50%
    font-size 3rem
    transform translateY(-50%)


.error-message, .validation-message
  @extend .form-message
  color link-highlight-color
  border 1px solid link-highlight-color

  &:before
    @extend .ion-ios-bug:before

.validation-message:before
  @extend .ion-ios-flash:before

.success-message
  @extend .form-message
  color rgb(71, 219, 73)
  border 1px solid rgb(71, 219, 73)

  &:before
    @extend .ion-ios-paper-plane:before

.loading-message
  @extend .form-message
  color rgb(201, 201, 201)
  border 1px solid rgb(201, 201, 201)

  &:before
    @extend .ion-md-lock:before



.contact .map-link
  cursor pointer
  &:before
    @extend .ion-ios-pin-outline:before


+up-to(bp-small)
  .address
    h3
      font-size 5vw

    .tellink, p
      font-size 4vw

+from(bp-medium)
  .contact
    container()
    overflow hidden

    .form, .address
      float left
      width 48%

    .form
      margin-right 3.9%
