@require '../markdown'

card-border-color = rgb(238, 238, 238)
.card
  background-color #fff
  border 1px solid card-border-color
  border-bottom 2px solid card-border-color
  border-right 2px solid card-border-color
  padding 1.5rem
  // box-shadow 0 0 10px rgba(152, 152, 152, 0.49)
  // border-radius 3px

.about-me-wrapper
  background-color #f4f4f4

.about-me
  padding 3rem 0
  // expanded-bg(#f4f4f4)
  // clear-fix()
  container()


  header
    h2
      margin-bottom 2rem

.background
  padding 0

  .background-content
    padding 1.5rem

  picture, img
    width 100%
    max-width 100%

.background, .reference-list
  @extend .card
  @extend .markdown
  margin-bottom 3rem
  position relative

  &:before
    content ''
    // border-top 1px solid rgb(219, 219, 219)
    height 1px
    background-color rgb(230, 230, 230)
    display block
    position absolute
    bottom -1.5rem
    left 50%
    width 50%
    transform translate(-50%, 2px)

  &:last-of-type:before
    display none


  h3
    margin-bottom 1rem

  li
    list-style-type none

  +up-to(bp-small)
    li, p
      font-size 4vw
      line-height 1.6

+from(bp-large)
  .reference-list
    width 49%
    float left
    &:before
      display none

    &:first-of-type
      margin-right 1.9%

  .references
    clear-fix()
