teaser-border-radius = 2px
.teaser
  list-style-type none

  background-color #fff
  overflow hidden

  a
    position relative
    display block
    min-height 100%
    width 100%
    z-index 1001
    text-decoration none
    margin-bottom 1rem
    border-bottom 0

    .overlay
      visibility hidden
      background-color text-highlight-dark
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      z-index 1003
      opacity 0
      transition opacity .5s

    &:hover
      .overlay
        visibility visible
        opacity 1

      .label
        background-color transparent
        box-shadow none

  .label
    font-family modern_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 1.5rem
    text-align center
    position absolute
    bottom 1rem
    left 50%
    transform translateX(-50%)
    color #fff
    z-index 1004
    background-color text-highlight
    box-shadow .5rem 0 0 text-highlight, -.5rem 0 0 text-highlight
    padding-top .3rem

  .img-container
    min-height 200px
    background-size cover
    background-position center center

    position relative
    margin-bottom 1rem
    transition min-height .5s

.teaser-couples .img-container
  background-image url(../images/couple_small.png)

.teaser-single .img-container
  background-image url(../images/single_small.png)

.teaser-family .img-container
  background-image url(../images/family_small.png)

.teaser-corporations .img-container
  background-image url(../images/corporation_small.png)
