.about-me
  div.avatar

  :markdown-it
    ## Über mich

    ### Mein Hintergrund:

    seit 2010 als Paar- und Familientherapeut angestellt bei der Christlichen Sozialhilfe Köln-Mülheim e.V.

    *	Fortbildner im Bereich kindliche Sexualentwicklung, Kindeswohlgefährdung und Jugendsexualität
    * langjährig hauptamtlich tätig als Sexualpädagoge und Berater in der Aidsberatung des Caritasverbandes der Stadt Münster und der Schwangerenberatung des Caritasverbandes für die Stadt Recklinghausen e.V.
    * Dozent in der Krankenpflegeschule der Kliniken Essen Mitten
    * mehrere Jahre Berufserfahrung in der Reisebranche sowohl als Reiseleiter im Ausland als auch im Büro in hiesigen Gefilden
