.about-me-wrapper
  section.about-me#about-me
    header
      div.avatar
      h2 Andreas Niehues // Über mich


    .background
      :markdown-it
        ### Mein Hintergrund

        * seit 2010 als *Paar- und Familientherapeut* angestellt bei der Christlichen Sozialhilfe Köln-Mülheim e.V.
        * *Fortbildner* im Bereich kindliche Sexualentwicklung ,  Kindeswohlgefährdung und Jugendsexualität
        * langjährig hauptamtlich tätig als *Sexualpädagoge* und *Berater* in der Aidsberatung des Caritasverbandes der Stadt Essen und der Schwangerenberatung des Caritasverbandes für die Stadt Recklinghausen e.V.
        * *Dozent* an der *Krankenpflegeschule* der Kliniken Essen Mitten
        * mehrere Jahre Berufserfahrung auch in der freien Wirtschaft u.a. in der Reisebranche

    .references
      .reference-list
        :markdown-it
          ### Meine Qualifikationen

          * systemisch integrativer Paartherapeut (Hans-Jellouschek-Institut)
          * Ausbildung  zur Kinderschutzfachkraft (Kinderschutzbund)
          * Weiterbildung zum systemischen Familientherapeuten (I.a.d.R.)
          * Sexualpädagoge (isp-Dortmund)
          * Dipl. Sozialarbeiter (KFH NW in Münster)
          * Studium der nordischen Sprachen (Wilhelmuniversität Münster)
          * Laufende Fort- und Weiterbildungen u.a. in den Methoden der systemischen Sexualtherapie

      .reference-list
        :markdown-it
          ### Meine Referenzen

          * Diakonie Köln und Region
          * Christliche Sozialhilfe Köln
          * Caritasverband für die Stadt Essen e.V.
          * Diözesancaritasverband Essen
          * Landeskriminalpolitzei NRW
          * Bundeszentrale für gesundheitliche Aufklärung (BZgA)
          * Telefonseelsorge Düsseldorf
          * Kliniken Essen Mitte
          * Arbeiter Samariter Bund Essen
          * Stadt Münster,  Jugendamt
          * Stadt Essen, Jugendamt und Gesundheitsamt
