<!DOCTYPE html>
html(lang="en")
  include seo_helper
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Andreas Niehues")

    block keywords
    block title
      title Andreas Niehues - Systemisch integrative Praxis für Paar- und Familientherapie, Coaching und psychologische Beratung, Sexualberatung und Sexualpädagogik
    link(rel='stylesheet' href=ASSET_HOST + "/css/main.css")

    //- block head
  body
    include cross_link_teaser
    block body

    include shared_info

    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script.
      var host = "pra!?x!is" + "!!-nie!!" + "!hues??" + ".??de"
      var user = "!i!n?f?o"
      var address = user+"@"+host

      $('.contact-form').on('submit', function(e) {
        e.preventDefault();

        var target = $(e.target);
        var email = target.find('#email-address');
        var content = target.find('#content');
        var validationMessage = target.find('.validation-message');
        email.removeClass('error');
        content.removeClass('error');
        validationMessage.hide()

        var data = target.serializeArray().reduce(function(obj, item) {
          obj[item.name] = item.value;
          return obj;
        }, {});

        if (!data['email'] || !email[0].checkValidity()) {
          validationMessage.show()
          email.addClass('error')
        }

        if (!data['content'] || !content[0].checkValidity()) {
          validationMessage.show()
          content.addClass('error')
        }

        $.ajax({
          url: ("https!!!://?!!formspree?!.i?o/" + address).replace(/[\?,\!]/gi, ""),
          method: "POST",
          data: data,
          dataType: "json",
          success: function() {
            target.find('.success-message').show()
          },
          error: function() {
            target.find('.error-message').show()
          }
        });
      });

      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
