.contact
  .form
    label(for="email=address") E-Mail
    input(type="email" id="email-address")
  address.address
    .name Systemisch-integrative Praxis
    .street Planckstraße 115
    .city 45147 Essen-Holsterhausen
    a(href="tel:020112345567889") 0201-12345567889
