mixin teaser(klass, label, link)
  li(class="teaser teaser-" + klass)
    a(href=link)
      .overlay
      .img-container
      span.label= label


mixin teaser-list(teasers)
  ul(class="teasers teaser-count-" + teasers.length)
    each teaser in teasers
      case teaser
        when 'couples'
          +teaser(teaser, 'Paare', COUPLES_HOST)
        when 'family'
          +teaser(teaser, 'Familien', FAMILY_HOST)
        when 'single'
          +teaser(teaser, 'Einzelpersonen', SINGLES_HOST)
        when 'corporations'
          +teaser(teaser, 'Fachkräfte', '#')
