extends /base_layout

block body
  header.main-header
    include meta_nav

    picture
      | <!--[if IE 9]><video style="display: none;"><![endif]--> 
      source(srcset=ASSET_HOST + "/images/landing-page-bg-1380.png" media="(min-width: 1200px)") 
      source(srcset=ASSET_HOST + "/images/landing-page-bg-1024.png" media="(min-width: 640px)") 
      | <!--[if IE 9]></video><![endif]--> 

      img( src=ASSET_HOST + "/images/landing-page-bg-640.png" alt="")

    .central-teaser
      h1 Andreas Niehues
      p.sub-title Systemisch integrative Praxis für <span class="together">Paar- und Familientherapie</span>, <span class="together">Coaching und psychologische Beratung</span>, <span class="together">Sexualberatung und Sexualpädagogik</span>


  section.content
    block content
