nav.meta
  ul
    li.meta-about-me
      a(href=HOME_HOST+"/#about-me") über mich
    li.meta-practice
      a(href=HOME_HOST+"/#practice") praxis
    li
      a(href=HOME_HOST+"/#contact") kontakt
    li
      a(href=HOME_HOST+"/impressum.html") impressum
