nav.meta
  ul
    li.meta-about-me
      a(href="#about-me") über mich
    li.meta-practice
      a(href="#practice") praxis
    li
      a(href="#contact") kontakt
    li
      a(href="#imprint") impressum
